.header-list {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.header-list__item {
    display: inline-block;
}

.header-list__link {
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    color: #012c50;
}

.header-list__item :hover {
    color: tomato;
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #b9f1da;
    background-color: #012c50;
  
}

.main-list {
background-color: #dedee0;
font-size: 18px;
padding-top: 30px;
padding-bottom: 30px;
}

.main-list__item {
    
}

